AcdAgrInfo_ImportSave.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ImportAgrRequest">
		<xs:annotation>
			<xs:documentation>委托协议导入发起请求</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OperInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CopCusCode">
								<xs:annotation>
									<xs:documentation>企业内部编号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Sign">
								<xs:annotation>
									<xs:documentation>数字签名</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="512"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OperType">
								<xs:annotation>
									<xs:documentation>操作类型</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ImportInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GName">
								<xs:annotation>
									<xs:documentation>主要货物名称</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CodeTS">
								<xs:annotation>
									<xs:documentation>HS编码</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DeclTotal">
								<xs:annotation>
									<xs:documentation>货物总价-number(19,4)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="24"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IEDate">
								<xs:annotation>
									<xs:documentation>进出口日期</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ListNo">
								<xs:annotation>
									<xs:documentation>提单号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeMode">
								<xs:annotation>
									<xs:documentation>贸易方式</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Curr">
								<xs:annotation>
									<xs:documentation>币制</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OriCountry">
								<xs:annotation>
									<xs:documentation>原产地/货源地</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TradeCode">
								<xs:annotation>
									<xs:documentation>委托方单位海关10位编码(申报单位)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AgentCode">
								<xs:annotation>
									<xs:documentation>被委托方单位海关10位编码（经营单位）</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Curr">
								<xs:annotation>
									<xs:documentation>币制</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3" fixed="false"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="QtyOrWeight">
								<xs:annotation>
									<xs:documentation>数(重)量</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PackingCondition">
								<xs:annotation>
									<xs:documentation>包装情况</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OtherNote" type="xs:string">
								<xs:annotation>
									<xs:documentation>其他要求</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ConsignTele">
								<xs:annotation>
									<xs:documentation>委托方操作员联系电话</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EntryID">
								<xs:annotation>
									<xs:documentation>报关单编号</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReceiveDate">
								<xs:annotation>
									<xs:documentation>收到单证时间</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PaperInfo">
								<xs:annotation>
									<xs:documentation>收到单证情况(A为合同B为发票C为装箱清单D为提(运)单E为加工贸易手册F为许可证件)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OtherRecInfo">
								<xs:annotation>
									<xs:documentation>其他(收到其他单证情况)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DeclarePrice">
								<xs:annotation>
									<xs:documentation>报关收费-number(19,2)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="22"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PromiseNote">
								<xs:annotation>
									<xs:documentation>承诺说明</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1024"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DeclTele">
								<xs:annotation>
									<xs:documentation>被委托方联系电话</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
